/* 
colors
bg #000
orange #ff9501
grey #a6a6a6
white #fdfdfd
*/

.calc {
	margin: 50px auto;
	font-size: 17px;
	width: 300px;
	height: 500px;
	border: 1px solid #000;
	border-radius: 20px;
	background: #000;
	color: #fff;
	font-family: 'Hanken Grotesk', sans-serif;
	padding: 18px;
	box-shadow: 10px 10px 10px #4f4f4f;
}

.calc-screen {
	height: 114px;
	padding: 10px;
	display: grid;
	justify-items: end;
	align-items: end;
	margin-bottom: 10px;
}

.calc-screen p {
	text-align: right;
	font-size: 50px;
	margin: 0;
}
.buttons {
	display: grid;
	grid-template-areas: 
	"ac plus-minus percent ivision"
	"seven eight nine multiply"
	"four five six minus"
	"one two free plus"
	"zero zero dot equal";
	grid-gap: 12px;
	justify-items: center;
}

.btn {
	width: 60px;
	height: 60px;
	background: #333;
	border-radius: 100%;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	user-select: none;
	transition: color, transform 2s ease;
}

.btn.zero {
	grid-area: zero;
	width: 100%;
	border-radius: 34px;
}

.btn:hover {
	filter: brightness(200%);
}

.btn:hover,
.btn:active {
	transform: scale(1.2);
	filter: brightness(90%);
}

.btn.bg-grey {
	background: #a6a6a6;
}

.btn.bg-orange {
	background: #ff9501;
}